{{#isInteger}}int{{/isInteger}}{{#isLong}}int{{/isLong}}{{#isFloat}}float{{/isFloat}}{{#isDouble}}float{{/isDouble}}{{#isByteArray}}str{{/isByteArray}}{{#isBinary}}str{{/isBinary}}{{#isBoolean}}bool{{/isBoolean}}{{#isDate}}str{{/isDate}}{{#isDateTime}}str{{/isDateTime}}{{#isModel}}{{dataType}}{{/isModel}}{{#isContainer}}{{dataType}}{{/isContainer}}{{^isInteger}}{{^isLong}}{{^isFloat}}{{^isDouble}}{{^isByteArray}}{{^isBinary}}{{^isBoolean}}{{^isDate}}{{^isDateTime}}{{^isModel}}{{^isContainer}}{{{vendorExtensions.x-py-typing}}}{{/isContainer}}{{/isModel}}{{/isDateTime}}{{/isDate}}{{/isBoolean}}{{/isBinary}}{{/isByteArray}}{{/isDouble}}{{/isFloat}}{{/isLong}}{{/isInteger}}